.body{
    height: 100%;
    width: 100%;
}



.aligner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
}

.aligner-item{
    display: block;
    max-width: 50%;
}

.inputtext{
   /* // height: 10vh; */
   font-size: 80px;
}




