* {
    margin: 0;
    padding: 0;
    border: 0;
}

.formfields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-black {
    background: black;
    color: red;
}

