<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Mastermind</title>
</head>
<body>
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <h1 class="display-4 py-2 text-truncate text-white text-center">Statistical overview of {{name}}</h1>
            <div class="row text-white">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto text-center form p-4">
                    <table class="table table-dark">
                        <tr>
                            <th>
                                Start Time
                            </th>
                            <th>
                                Turns taken
                            </th>
                        </tr>
                        {% for i, row in rows%}
                        <tr class="text-white">
                            <th>
                                {{row[1]}}
                            </th>
                            <th>
                                {{row[2]}}
                            </th>
                        </tr>
                        {% endfor %}

                    </table>
                    <a class="text-decoration-none" href="/statistics">
                        <button class="btn btn-dark">
                            Back to overview
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
