<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Mastermind</title>
</head>
<body>
<section id="cover" class="min-vh-100">
    <div class="container padding45px">

        <h1 class="display-4 py-2 text-truncate text-white text-center">Statistical overview of {{name}}</h1>
        <div class="row text-white">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto text-center form p-4">
                <table class="table lightdarkbg text-white">
                    <tr>
                        <th>
                            Start Time
                        </th>
                        <th>
                            Turns taken
                        </th>
                        <th>
                            Has cheated
                        </th>
                    </tr>
                    {% for i, row in rows%}
                    <tr class="text-white">
                        <th>
                            {{row[0][:19]}}
                        </th>
                        <th>
                            {{row[1]}}
                        </th>
                        <th>
                            {%if row[2] > 0%}
                            Yes
                            {%else%}
                            No
                            {%endif%}
                        </th>
                    </tr>
                    {% endfor %}

                </table>
                <a class="text-decoration-none" href="/statistics">
                    <button class="btn text-white border">
                        Back to overview
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
