<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title>Mastermind</title>
</head>
<body>
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Mastermind</h1>
                    <div class="px-2">
                        <form action="http://localhost:5000/play" method="POST">
                            <div class="form-group row">

                                {% for i in range(colorAmount) %}

                                <select name="color[]" id="color[]" class="form-control col-sm smallmargin">
                                    {% for i in range(6,11) %}
                                    <option value="{{i}}">{{i}}</option>
                                    {%endfor%}
                                </select>
                                {%endfor%}

                            </div>
                            <input type="submit" value="Guess!" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

